/* main bar */
.trend-section {
  display: flex;
  margin-top: 2rem;
  padding: 0 40px;
}
.trend-main {
  flex: 1 1 0%;
}
.trend-main .main-section {
  display: flex;
  margin: -1rem;
  flex-wrap: wrap;
}
.article {
  width: 20rem;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.article a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.arcticle-img {
  width: 100%;
  position: relative;
  padding-top: 52.1921%;
  cursor: pointer;
}
.arcticle-img img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.article-content {
  padding: 1rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  cursor: pointer;
}
.article-content a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.article-content a h4 {
  font-size: 1.4rem;
  margin: 0px 0px 0.25rem;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(33, 37, 41);
}
.desc-wrapper {
  flex: 1 1 0%;
}
.desc-wrapper p {
  margin: 0px 0px 1.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 3.9375rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(73, 80, 87);
}
.sub-info {
  font-size: 0.75rem;
  line-height: 1.5;
  color: rgb(134, 142, 150);
}
.sub-info .separator {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.article-footer {
  padding: 0.625rem 1rem;
  border-top: 1px solid rgb(248, 249, 250);
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.content__cursor {
  cursor: pointer;
}
.footer_userInfo {
  cursor: pointer;
}
.article-footer div {
  text-decoration: none;
  color: inherit;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.article-footer div img {
  object-fit: cover;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-right: 0.5rem;
}
.filter-info {
  margin-top: 0.5rem;
  max-height: 60px;
  overflow: hidden;
}
.filter-info p {
  background: rgb(241, 243, 245);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.875rem;
  margin-bottom: 5px;
  color: rgb(12, 166, 120);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}
.likes {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.likes svg {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}
/* main bar */

/* aside bar */
aside {
  display: block;
  margin-right: 7%;
}
.pDRpR {
  margin-left: 3rem;
  padding: 0 40px;
  position: relative;
}

.checkBox_searchInput {
  display: flex;
  height: 2.25rem;
  border: 1px solid rgb(173, 181, 189);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
  position: absolute;
  top: -15px;
}
.checkBox_searchInput svg {
  transition: all 0.125s ease-in 0s;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  fill: rgb(173, 181, 189);
  flex-shrink: 0;
}

.checkBox_searchInput input {
  transition: all 0.125s ease-in 0s;
  font-size: 0.875rem;
  flex: 1 1 0%;
  display: block;
  line-height: 1rem;
  height: 1rem;
  padding: 0px;
  border: none;
  outline: 0px;
  color: rgb(73, 80, 87);
  min-width: 0px;
}
.eyrfCG {
  width: 7rem;
}
.input__label {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0.375em 0 0.475em 1.7em;
  cursor: pointer;
}
.input__label:before {
  border: 1px solid #333;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  transition: border-color 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
  box-sizing: inherit;
  border-radius: 3px;
}

section ul li label {
  font-size: 20px;
}
.filters-input__tick {
  position: absolute;
  top: 50%;
  left: 0.5em;
  width: 0.5em;
  height: 0.5em;
  margin-top: -0.25em;
  margin-left: -0.25em;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fRPcIQ > h3 {
  font-size: 1.3125rem;
  color: rgb(52, 58, 64);
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.ikrfmY {
  background: white;
  height: 3rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(32, 201, 151);
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}
.tag_input {
  display: inline-flex;
  outline: none;
  cursor: text;
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  min-width: 8rem;
  border: none;
  width: 100%;
  padding: 0 10px;
}

.inside {
  background-color: #333333;
  position: absolute;
  text-align-last: center;
}
.inside p {
  padding: 5px;
  color: white;
  font-size: 12px;
}
.kFYgzZ {
  margin-top: 0.5rem;
  animation-duration: 0.125s;
  animation-timing-function: ease-out;
  animation-name: eMLfYp;
  animation-fill-mode: forwards;
}

.gxJxzH {
  height: 2rem;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 4px 0px;
  background: white;
  color: rgb(134, 142, 150);
}
.jZRJqS {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(52, 58, 64);
  color: white;
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
}

.jZRJqS + .sc-dnqmqq {
  margin-left: 0.5rem;
}

.dryTVy {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.hLQrny {
  visibility: hidden;
  width: 100%;
  color: rgb(73, 80, 87);
  transition: all 0.125s ease-in 0s;
  position: relative;
}

.ikrfmY svg {
  margin-right: 0.875rem;
}

input:checked + label .filters-input__tick {
  opacity: 1;
  transform: scale(1);
}
svg:not(:root) {
  overflow: hidden;
}
.filters-input__tick svg {
  fill: #333;
}
:not(svg) {
  transform-origin: 0px 0px;
}
.filters-input__checkbox {
  display: none;
}
label {
  cursor: default;
}
svg[focusable='false'] {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
section {
  display: block;
}
.filter__head {
  margin-bottom: 25px;
}

.guOUmw {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.fRPcIQ > h3 {
  font-size: 1.3125rem;
  color: rgb(52, 58, 64);
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.guOUmw .contents {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.kxgRGC {
  display: flex;
  width: 100%;
  flex: 1 1 0%;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;
}

.ilAdLO {
  background: rgb(233, 236, 239);
  padding: 1rem;
  transition: all 0.125s ease-in 0s;
}
.selectItem {
  background: rgb(18, 184, 134);
  color: white;
}
.fItzQM {
  height: 3rem;
  width: 100%;
  display: flex;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px 0px;
  overflow: hidden;
}
.fItzQM .name-wrapper {
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background: white;
  font-size: 1.125rem;
  line-height: 1;
  color: rgb(73, 80, 87);
  flex: 1 1 0%;
  border: none;
}
.fItzQM button {
  outline: none;
  color: white;
  background: rgb(18, 184, 134);
  font-size: 1.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 48px;
  border: none;
  cursor: pointer;
}
.fItzQM .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.jvzOMf {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(18, 184, 134);
  color: white;
  border-radius: 4px;
  padding: 0px 1.125rem;
  height: 2.5rem;
  font-size: 1.125rem;
}

.iYChft {
  padding: 0.875rem 1rem;
  font-size: 1rem;
  line-height: 1;
  border-bottom: 1px solid rgb(233, 236, 239);
  background: rgb(18, 184, 134);
  color: white;
}

.fAMcrW {
  height: 16.5625rem;
  overflow-y: auto;
}

.XhGBA {
  padding-left: 0px;
  list-style: none;
  margin: 0px;
  background: white;
  overflow-y: auto;
}

.fPWeGR {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 2px;
  border: none;
  outline: none;
  color: rgb(52, 58, 64);
}

.bTeTbc {
  padding: 0.875rem 1rem;
  font-size: 1rem;
  line-height: 1;
  color: rgb(73, 80, 87);
  border-bottom: 1px solid rgb(233, 236, 239);
}

.hLTRLT {
  margin-top: 1rem;
  padding-top: 1px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.ccZQXh {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(134, 142, 150);
  color: white;
  border-radius: 4px;
  padding: 0px 1.125rem;
  height: 2.5rem;
  font-size: 1.125rem;
}

.ccZQXh + .sc-dnqmqq {
  margin-left: 0.875rem;
}
/* aside bar */
