/* LoginModal */

.login-container {
  position: absolute;
  z-index: 99;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  z-index: 98;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.login-box {
  margin: 0 auto;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1px;
  border: 1px solid lightgray;
}

.join-box {
  margin: 0 auto;
  width: 400px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1px;
  justify-content: center;
}

.login-box .accountText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}

.login-box input {
  display: block;
  width: 230px;
  height: 20px;
  padding: 9px 0 7px 8px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 5px;
  padding: 15px;
}

/* + LoginModal */
.social-box h4 {
  margin-top: 1rem;
  color: rgba(102, 112, 139, 0.781);
  text-align: center;
}
.login-foot {
  text-align: right;
  margin-top: 1.5rem;
}
.login-foot span {
  font-size: 17px;
}
.foot-link {
  display: inline-block;
  font-weight: bold;
  color: rgba(102, 112, 139, 0.781);
  cursor: pointer;
  margin-left: 10px;
}
.exit {
  position: absolute;
  margin-left: 370px;
  top: 5px;
}

.JoinLoign-button {
  border: 1px solid rgba(102, 112, 139, 0.781);
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  margin: 0 auto;
  height: 30px;
  width: 70px;
  justify-content: center;
  align-items: center;
}

.clearInput {
  position: absolute;
  right: 60px;
  top: 9px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: gray;
}
